<!DOCTYPE html>
<html>
<head>
<title>Openstack Version status</title>
</head>
<body>
<h1>Releases:</h1>
{% for release in packages_versions_data %}
<a href="{{ release }}.html" title="Link to {{ release }} release">
    <h2>{{ release }}</h2>
</a>
{% endfor %}
</body>
</html>