<html>
<head>
<title>Openstack versions info</title>
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
<style>
.MISSING.sorting_1 {background-color: #F1948A !important; font-weight: bold;}
.OUTDATED.sorting_1 {background-color: #F0B27A !important; font-weight: bold;}
.OK.sorting_1 {background-color: #7DCEA0 !important; font-weight: bold;}
.NONE.sorting_1 {background-color: #B2BABB !important; font-weight: bold;}
.MISSING {background-color: #F1948A !important; font-weight: bold;}
.OUTDATED {background-color: #F0B27A !important; font-weight: bold;}
.OK {background-color: #7DCEA0 !important; font-weight: bold;}
.NONE {background-color: #B2BABB !important; font-weight: bold;}
.DivOUTDATED {
  background-color: #F0B27A !important;
  border: 1px solid #FFFFFF;
  padding: 3px 10px;
 }
.DivOK {
  background-color: #7DCEA0 !important;
  border: 1px solid #FFFFFF;
  padding: 3px 10px;
}
.invisible tr {
  border: none !important;
  border-size: 0;
}
.btn_release {
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
}
.btn_release_clicked {
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  background: #B2BABB;
}

</style>
<script>
$(document).ready( function () {
{%- for release in data %}
  {%- set comparasions = data[release] %}
  {%- for comparasion in comparasions %}
  $('#table-{{- release }}-{{- comparasion | replace(":", "-") | replace(" ", "") }}').DataTable();
  {%- endfor %}
{%- endfor %}
} );
</script>
<script>
function displayTable(image_tag, image_name){
  var tableToDisplay = document.getElementById("div-".concat(image_tag,"-",image_name));
  var tables = document.getElementsByName("div-table-data");
  currentStyle = tableToDisplay.style.display;
  tables.forEach(element => element.style.display = "none");
  if (currentStyle == "block") {
    tableToDisplay.style.display = "none";
  } else {
    tableToDisplay.style.display = "block";
  }
}
</script>
</head>
<body>
Generated: {{ time }}
<br>
{%- for image_tag in data %}
  {%- set images = data[image_tag] %}
<div>
  <div>
    <div><h3>{{- image_tag }}</h3></div>
  </div>
  <div>
  {%- for image_name in images %}
    {%- set packages = images[image_name]['data'] %}
    <div>
      <div id="td-{{- image_tag }}-{{- image_name }}"class="Div{{ images[image_name]['overall_status'] }}" onclick="displayTable('{{- image_tag }}','{{- image_name }}');">{{ image_name }}</div>
      <div name="div-table-data" id="div-{{- image_tag }}-{{- image_name | replace(":", "-") | replace(" ", "") }}" style="display: none;">
        <table id="table-{{- image_tag }}-{{- image_name | replace(":", "-") | replace(" ", "") }}" class="display" data-page-length='{{ packages|length }}'>
          <thead>
            <tr>
              <th>#</th>
              <th>Package</th>
              <th>Apt<br>version</th>
              <th>Image<br>version</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
    {%- for package in packages %}
      {%- set package_data = images[image_name]['data'][package] %}
            <tr>
              <td>{{ loop.index }}.</td>
              <td>{{ package }}</td>
              <td>{{ package_data['base_package_version'] }}</td>
              <td>{{ package_data['comparison_package_version'] }}</td>
              <td class="{{ package_data['status'] }} sorting_1">{{ package_data['status'] }}</td>
            </tr>
    {%- endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {%- endfor %}
  </div>
</div>
<br>
{%- endfor %}
</body>
